:root {
  --color-primary: #D8B146;
  --color-secondary: #292929;
  --color-accent: tan;

  --font-primary: "Proxima Nova", Arial, sans-serif;
}

html {
  font-family: var(--font-primary);
}

h1 {
  font-family: var(--font-primary);
  font-weight: bold;
  font-size: 1.383rem;
  line-height: 1.95rem;
  color: var(--color-primary);
}

h2 {
  font-family: var(--font-primary);
  font-size: 1.2962rem;
  line-height: 1.95rem;
  color: var(--color-primary);
}

h3 {
  font-family: var(--font-primary);
  font-size: 1.2148rem;
  line-height: 1.625rem;
  color: var(--color-primary);
}

ul {
  font-family: var(--font-primary);
  font-size: 1.2148rem;
  line-height: 1.625rem;
  color: var(--color-secondary);
  text-decoration: bullets;
}

ol {
  font-family: var(--font-primary);
  font-size: 1.2148rem;
  line-height: 1.625rem;
  color: var(--color-secondary);
  text-decoration: bullets;
}

dl {

}

a {
  font-family: var(--font-primary);
  font-style: italic;
  font-size: 1.2148rem;
  line-height: 1.625rem;
  color: var(--color-primary);
}

.link-no-underline {
  text-decoration: none;
}

.link-no-underline:hover {
  text-decoration: underline;
}

blockquote {
  font-family: var(--font-primary);
  font-size: 1.2148rem;
  line-height: 1.625rem;
}

cite {
  font-family: var(--font-primary);
  font-size: 1.2148rem;
  line-height: 1.625rem;
}

em {
  font-family: var(--font-primary);
  font-weight: bold;
  font-size: 1.2148rem;
  line-height: 1.625rem;
  color: var(--color-primary);
}

strong {
  font-family: var(--font-primary);
  font-size: 1.2148rem;
  line-height: 1.625rem;
  color: var(--color-primary);
}

del {
  font-family: var(--font-primary);
  font-size: 1.2148rem;
  line-height: 1.625rem;font-family: var(--font-primary);
  font-size: 1.2148rem;
  line-height: 1.625rem;
}

ins {
  font-family: var(--font-primary);
  font-size: 1.2148rem;
  line-height: 1.625rem;
}

abbr {
  font-family: var(--font-primary);
  font-size: 1.2148rem;
  line-height: 1.625rem;
}

dfn {
  font-family: var(--font-primary);
  font-size: 1.2148rem;
  line-height: 1.625rem;
}

i {
  font-family: var(--font-primary);
  font-size: 1.2148rem;
  line-height: 1.625rem;
}

b {
  font-family: var(--font-primary);
  font-size: 1.2148rem;
  line-height: 1.625rem;
}

mark {
  font-family: var(--font-primary);
  font-size: 1.2148rem;
  line-height: 1.625rem;
  color: var(--color-primary);
}

q {
  font-family: var(--font-primary);
  font-size: 1.2148rem;
  line-height: 1.625rem;
}

s {
  font-family: var(--font-primary);
  font-size: 1.2148rem;
  line-height: 1.625rem;
}

u {
  font-family: var(--font-primary);
  font-size: 1.2148rem;
  line-height: 1.625rem;
}

p {
  font-family: var(--font-primary);
  font-size: 1.2148rem;
  line-height: 1.625rem;
  color: var(--color-primary);
}
