<header class="banner" role="banner">
  <nav class="navigation" id="navigation" >
    <ul class="grid list-group text-center">
      <li class="unit xs-1 s-1 m-1-5 l-1-5 micro {% if page.highlight_nav == 'faq/help' %}current{% endif %}"><a class="link-box" href="#">Faq/Help</a></li>
      <li class="unit xs-1 s-1 m-1-5 l-1-5 micro {% if page.highlight_nav == 'about' %}current{% endif %}"><a class="link-box" href="#">About</a></li>
      <li class="unit xs-1 s-1 m-1-5 l-1-5 zetta {% if page.highlight_nav == 'home' %}current{% endif %}"><a class="link-box" href="/index/">HOME</a></li>
      <li class="unit xs-1 s-1 m-1-5 l-1-5 micro {% if page.highlight_nav == 'products' %}current{% endif %}"><a class="link-box" href="/products/">Products</a></li>
      <li class="unit xs-1 s-1 m-1-5 l-1-5 micro {% if page.highlight_nav == 'check-out' %}current{% endif %}"><a class="link-box" href="/check-out/">Check Out</a></li>
    </ul>
  </nav>
</header>
