<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>Vape Master</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href="/css/main.css" rel="stylesheet">
</head>
<body>
<ul class="skip-links">
  <li>
    <a href="#nav">Jump to navigation</a>
  </li>
  <li>
    <a href="#main">Jump to main content</a>
  </li>
</ul>

  {% pattern header/header %}
  <main role="main" id="main" tabindex="0">
  {{content}}
  </main>
  {% pattern footer/footer %}

</body>
</html>
