---
layout: default
---

{% pattern banners/promo-banner limited-time="Free Shipping of $75 or more" text="Before taxes" %}

<div>
  <div class="grid">
    <div class="unit xs-1-4 s-1-4 m-1-4 l-1-4">
      {% pattern navigation/nav %}
    </div>
    <div class="unit xs-1-2 s-1-2 m-1-2 l-1-2 island">
      <h2 class="yotta">{{page.name}}</h2>
      <div class="grid">
        <div class="unit xs-1-2 s-1-2 m-1-2 l-1-2">
          <img class="img-flex" src="{{page.image}}" alt="">
        </div>
        <div class="unit xs-1-2 s-1-2 m-1-2 l-1-2 island">
          <p>{{page.description}}</p>
          {% pattern forms/quantity %}
          {% pattern buttons/light %}
        </div>
      </div>
    </div>
  </div>
