.nav-header {
  font-weight: bold;
  font-style: italic;
  font-size: 24pt;
}
.nav-products {
  color:#fff;
  text-decoration: none;
}
.nav-products li a {
  color:#fff;
  text-decoration: none;
}

.side-nav {
  background-color:#gray;
}
